
<html>

<head>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/javascripts/project.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
</head>
<form action="/employee/insert_record" enctype="multipart/form-data" method="post">
<div class="maincontainer">
    <div class="box">
        <div class="headingbox">
            <img src="/images/hero.png" style="width: 25px;margin-right: 5px;">
            <div style="display: flex;flex-direction: column;">
                <div style="font-size: 16px; font-weight:bold;color: #130f40;"> Employee Interface</div>
                <div style="font-size: 12px;font-weight: 700;color: #686de0;">Add new Employee</div>
            </div>
        
        </div>
        <hr color="#130f40" style="width: 98%;">
        <div class="container" style="width: 98%;">
            <div class="row">
                <div class="col-6">
                    <input type="text" class="form-control" required pattern="[a-z A-Z]+" title="Pls input Alphabets only" placeholder="Employee Name" name="employee_name">
                </div>
                <div class="col-6">
                    <input type="date" class="form-control" required placeholder="DOB" name="dob">

                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-5">
                    <div class="form-check form-check-inline">
                        <input type="radio" required name="gender" value="Male" class="form-input-check">Male
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" required name="gender" value="Female" class="form-input-check">Female
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-check form-check-inline">
                        <input type="text" required class="form-control" placeholder="Address" name="address">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-6">
                        <select class="form-select" required name="state_id" id="state_id">
                            <option selected>Select states</option>

                        </select>
                    </div>
                    <div class="col-6">
                        <select class="form-select" required name="city_id" id="city_id">
                            <option selected>Select city</option>

                        </select>
                    </div>

                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-4">
                        <select class="form-select" required name="department">
                            <option selected>Select department</option>

                            <option>Production</option>
                            <option>Accounts</option>
                            <option>Sales</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select required class="form-select" name="grade">
                            <option>Select Grade</option>
                            <option>One</option>
                            <option>Two</option>
                            <option>Three</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input type="text" required pattern="[0-9]{5,15}" title="Pls input Number only" name="salary" placeholder="Enter Salary" class="form-control">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-6">
                        <label for="formFile" class="form-label">Upload latest picture:</label>
                        <input id="picture" required class="form-control" type="file" name="picture">
                    </div>
                    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
                        <img id="epic"  src="/images/employee.png"
                            style="width: 60px; border-radius: 30px; height: 60px;">
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
                        <button type="submit" class="btn btn-primary" style="width: 100px;">Save</button>
                    </div>
                    <div class="col-6" style="display: flex; justify-content: center; align-items: center;">
                        <button type="reset" class="btn btn-primary" style="width: 100px;">Reset</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="display: flex; justify-content:center;">

                        <font color=<%=color %>>
                            <%=message %>
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </form>


</html>